<main class="flex flex-col items-center w-screen h-screen gap-2">
  <section class="h-screen w-screen grid grid-cols-4 grid-rows-5 py-2 px-4">
    <div class="col-start-1 col-span-1 rounded-xlp-2 flex items-center grow justify-center">
      <h1 class="text-2xl font-extrabold  text-center ">
        Task Management
      </h1>
    </div>

    <button (click)="openModal()" class="btn btn-circle col-start-4 justify-center h-4/5 w-4/5">
      Add Task
    </button>

    <dialog class="modal modal-middle" [ngClass]="{'modal-open' : isOpen()}" id="task_modal" #taskModal>

      <div class="modal-box">
        <div class="flex flex-row justify-between">
          <h3 class="">Add Task</h3>
          <label class="borde">
            <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
            Is Finished
          </label>

        </div>

        <div class="divider"></div>
        <div class="flex flex-col w-full">
          <label class="floating-label grow">
            <input type="text" placeholder="Enter Task Title" [tabIndex]="0" class="input input-md w-full" />
            <span>Title</span>
          </label>
          <fieldset class="floating-label">
            <legend class="fieldset-legend">Task Description</legend>
            <textarea class="textarea textarea-lg h-48 w-full"></textarea>
            <div class="fieldset-label place-content-end text-slate-500">Optional</div>
          </fieldset>
        </div>
        <div class="modal-action">
          <form method="dialog" class="flex gap-1">
            <button class="btn">Add</button>
            <button class="btn" (click)="closeModal()">Close</button>
          </form>
        </div>
      </div>

    </dialog>

    <div class="flex justify-between row-start-2 col-start-2 col-end-4 row-span-3 rounded-3xl">
      <div class="flex items-center">
        <button class="h-3/5 btn btn-circle text-4xl"> <ng-icon name="tablerChevronLeftPipe" /> </button>
      </div>
      <div class="">

      </div>
      <div class="flex items-center">
        <button class="h-3/5 btn btn-circle text-4xl
          "> <ng-icon name="tablerChevronRightPipe" /> </button>
      </div>
    </div>
  </section>

  <div class="divider divider-neutral font-light italic"> List of Tasks </div>
  <section class="w-screen h-screen flex flex-col items-center">

  </section>
</main>