<main class="flex flex-col w-screen h-full gap-2 bg-emerald-50">
  <section class="flex items-center justify-center h-screen">
    <h1 class="mb-5 text-4xl md:text-9xl
    animate-bounce animate-thrice animate-duration-[2000ms] animate-ease-out animate-normal animate-fill-forwards
    ">Cozy Area
    </h1>
  </section>

  <section class="h-screen">
    <article>
      <h2>Lorem</h2>
      Enim et eu laborum nulla anim aute incididunt voluptate sunt dolore mollit id. Magna esse dolore ipsum excepteur
      ex
      minim laboris culpa est qui nulla non. Officia pariatur est tempor cupidatat occaecat eu sint adipisicing nulla
      non.
      Sint voluptate duis officia sit sunt aute cillum qui est. Magna incididunt elit irure incididunt aliqua cupidatat.
      Nisi exercitation duis cillum amet magna amet consequat eu sunt.
    </article>

  </section>

  <section>
    <article>
      <h2>Ipsum</h2>
      <p>
        Officia commodo excepteur elit quis sunt mollit quis qui incididunt in enim occaecat et. Cupidatat commodo
        consectetur nostrud ipsum nulla dolore. Laboris labore eu culpa est in veniam dolore cupidatat. Consectetur
        velit reprehenderit mollit consectetur. Sit aute velit eiusmod duis. Nisi dolor laborum exercitation eu culpa
        non quis amet anim laboris ut. Sunt non quis voluptate do sit est fugiat aute.
      </p>
    </article>
  </section>

</main>