/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


@import "tailwindcss";
@import "tailwindcss-animated";


@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "winter";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.051 172.552);
  --color-base-200: oklch(37% 0.077 168.94);
  --color-base-300: oklch(43% 0.095 166.913);
  --color-base-content: oklch(95% 0.052 163.051);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(63% 0.237 25.331);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(43% 0.095 166.913);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
